Mention legal issues in DPRIVE problem statement?

draft-ietf-dprive-problem-statement-04.txt, section 4, mentions some possible legal issues. Some people at IETF say we should completely avoid to mention it since we are  not lawyers and cannot be sure these issues are real. I tend to think that it is important, in a problem statement, to remind that the lack of privacy may have legal consequences as well. On the other hand, the RFC on TLS (to mention just an example) don't explain there are legal issues with confidentiality. TODO

Other RFC mention legal issues. See for instance RFC 7536, section 4.3.

Accepted by IESG so no longer a problem. Currently in state RFC-EDITOR at the RFC editor publication queue.